.search-panel {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 25px;
    background-color: #41b3a3;
    background-repeat: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    border-radius: 20px;
    color: #fff;
    font-family: 'Fuzzy Bubbles', cursive;
}
.search-panel__input {
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #e27d60;
    background-color: #fff;
    color: #e27d60;
    font-size: 18px;
}
.hide {
    display: none;
}